<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/dev_java/src/com/day13/FizzBuzzGame.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.day13.FizzBuzzGame"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="dev_java"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dev_java"/>
</launchConfiguration>
